config.log
config.status
make.inc
FortranParser08_FortranParser03.java
build/*.jar
lib/
*.cache/
.classpath
.project
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
/bin/
