config.log
config.status
make.inc
FortranParser08_FortranParser03.java
build/*.jar
lib/
/bin
*.cache/
.classpath
.project
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Java coverage
/jacoco
/jacoco.exec
/jacoco.xml

# Bintray deployment
/travis_bintray_descriptor_gen.py
/.bintray.json
